
// Importo il font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



// Importo reset e variables
 @import "partials/reset.scss";
 @import "partials/variables.scss";
 @import "partials/mixins.scss";


//Imposto il font
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;

}

.left {
	width: 40%;
    min-height: 700px;
}

.right {
	width: 40%;
    min-height: 700px;

}

.btn-container {
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        @include btn;
        background-color: $txt-secondary;
        margin: 0 0.5rem;
        line-height: 1rem;
        font-weight: bold;
    }

    img  {
        @include icon;
        background-color: $txt-secondary;
        max-height: 100%;
        margin: 0 0.5rem;
        line-height: 2rem;

    }

}